<section id="about" class="container col-11 col-lg-10 my-5 mx-auto">
  <p class="fs-5 text-center">Get to know more</p>
  <h1 class="fw-bold text-center">About Me</h1>
  <div class="row mt-4  justify-content-center align-items-center">
  
    <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-center">
      <div class="row w-100">

        <!-- Specialized In Card, centered -->
        <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-laptop-code fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Specialized In</h3>
              <p class="card-text">
                Web Development<br>Microservices Architecture<br>Relational Databases<br>Data Structures & Algorithm
              </p>
            </div>
          </div>
        </div>
        <!-- Leetcode In Card, centered -->
        <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-laptop-code fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Competitive Programming</h3>
              <p class="card-text">
                Solved 550+ DSA problems on <a href="https://leetcode.com/u/ganeshpatil_07/" target="_blank" class="text-decoration-none fw-bold text-secondary">LeetCode</a> and 
                <a href="https://www.geeksforgeeks.org/user/ganeshpatil077/" target="_blank" class="text-decoration-none fw-bold text-secondary">GFG</a> <br>
                5⭐️ in C++ & Java on HackerRank
              </p>
            </div>

          </div>
        </div>
        
      </div>
      <div class="w-100 text-center mt-3">
        <p>
          I'm <strong>Ganesh</strong>, a <strong>backend developer</strong> 🖥️ currently in my  
          <strong>third year</strong> of <strong>B.Tech in Artificial Intelligence and Data Science</strong>  
          at <strong>Vishwakarma Institute of Information Technology (VIIT)🎓</strong>.
        </p>
        
        <p>
          I specialize in crafting <strong>robust Java-based solutions</strong> with  
          <strong>Spring Boot</strong>, aligning technical objectives with user needs,  
          and exploring exciting technologies like <strong>Angular</strong> 🚀.
        </p>
        
        <p>
          I enjoy solving complex challenges and continuously learning to stay ahead in the  
          ever-evolving <strong>tech landscape</strong>.  
        </p>
      </div>
    </div>
  </div>
</section>
